# Entorno virtual
venv/
.venv/
env/

# Cache de Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Variables de entorno
.env

# VS Code
.vscode/

# Base de datos
*.db
*.sqlite3

# Archivos del sistema
.DS_Store
Thumbs.db
